.search-input {
  width: 300px; /* Adjust width as needed */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Adjust border radius as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  margin-bottom: 20px;
}

.search-input:focus {
  outline: none;
}
